@model List<TbProduct> 

@if (Model != null && Model.Count() > 0)
{
	foreach (var item in Model)
	{
		string url = $"/{item.Alias}-{item.ProductId}.html";
		<div class="single-item">
			<div class="single-product position-relative mb-30">
				<div class="product-image">
					<a class="d-block" href="@url">
						<img src="~/images/products/@item.Thumb" alt="@item.Title" class="product-image-1 w-100" />

						<img src="~/images/products/@item.Thumb" alt="@item.Title" class="product-image-2 position-absolute w-100">
					</a>
				</div>
				<div class="product-content">
					<div class="product-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</div>

					<div class="product-title">
						<h4 class="title-2"> <a href="@url">@item.ProductName</a></h4>
					</div>
					<div class="price-box">
						<span class="regular-price ">@item.Price.Value.ToString("#,##0") VNĐ</span>

					</div>


				</div>
				<div class="add-action d-flex position-absolute">
					<a href="cart.html" title="Thêm Vào Giỏ Hàng">
						<i class="ion-bag"></i>
					</a>

					<a href="#exampleModalCenter" data-bs-toggle="modal" title="Xem Nhanh">
						<i class="ion-eye"></i>
					</a>
				</div>
			</div>
		
			
			
	</div>
	}
}
