@model IEnumerable<WebFigure.Models.TbProduct>
@using PagedList.Core.Mvc
@{
    TbCategory categoris = ViewBag.CurrentCat;

    ViewData["Title"] = categoris.Title +" "+ ViewBag.CurrentPag;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Pagecurrent = ViewBag.CurrentPage;
    
    int PageNext = Pagecurrent + 1;
}


<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">@categoris.CatName</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li>@categoris.CatName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Shop Main Area Start Here -->
<div class="shop-main-area">
    <div class="container container-default custom-area">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12 col-custom widget-mt">
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_list" type="button" class="active btn-list" data-bs-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                        <button data-role="grid_3" type="button" class="btn-grid-3" data-bs-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                    </div>
                    <div class="shop-select">
                        <form class="d-flex flex-column w-100" action="#">
                            <div class="form-group">
                                <select class="form-control nice-select w-100">
                                    <option selected value="1">Theo Tên</option>
                                    <option value="2">Theo Độ Nổi</option>
                                    <option value="3">Theo Độ Mới</option>
                                    <option value="4">Giá: Thấp - Cao</option>
                                    <option value="5">Giá: Cao - Thấp</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!-- Shop Wrapper Start -->
                <div class="row shop_wrapper grid_list">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}-{item.ProductId}.html";
                            <div class="col-12 col-custom product-area">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" href="@url">

                                            <img src="~/images/products/@item.Thumb" alt="@item.Title" class="product-image-1 w-100" />
                                            <img src="~/images/products/@item.Thumb" alt="@item.Title" class="product-image-2 position-absolute w-100" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="@url">@item.ProductName</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">@item.Price.Value.ToString("#,##0") VNĐ</span>

                                        </div>
                                    </div>
                                    <div class="add-action d-flex position-absolute">
                                        <a href="cart.html" title="Thêm vào Giỏ">
                                            <i class="ion-bag"></i>
                                        </a>
                                        <a href="compare.html" title="So Sánh">
                                            <i class="ion-ios-loop-strong"></i>
                                        </a>
                                        <a href="wishlist.html" title="Thêm Vào Dánh Sách Mong Muốn">
                                            <i class="ion-ios-heart-outline"></i>
                                        </a>
                                        <a href="#exampleModalCenter" data-bs-toggle="modal" title="Xem Nhanh">
                                            <i class="ion-eye"></i>
                                        </a>
                                    </div>
                                    <div class="product-content-listview">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="@url">@item.ProductName</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price">@item.Price.Value.ToString("#,##0") VNĐ</span>

                                        </div>
                                        <div class="add-action-listview d-flex">
                                            <a href="cart.html" title="Thêm vào Giỏ">
                                                <i class="ion-bag"></i>
                                            </a>

                                            <a href="#exampleModalCenter" data-bs-toggle="modal" title="Xem Nhanh">
                                                <i class="ion-eye"></i>
                                            </a>
                                        </div>
                                        <p class="desc-content">
                                            @Html.Raw(item.ShortDesc)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
                <!-- Shop Wrapper End -->
                <!-- Bottom Toolbar Start -->
                <div class="row">
                    <div class="col-sm-12 col-custom">
                        <div class="toolbar-bottom mt-30">
                            <nav class="pagination pagination-wrap mb-10 mb-sm-0">
                                <ul class="pagination">
                                    @if (Pagecurrent > 1)
                                    {
                                        <li class="disabled prev">
                                            <a href="/shop.html?page=@(Pagecurrent-1)"> <i class="ion-ios-arrow-thin-left"></i></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="disabled prev">
                                            <a> <i class="ion-ios-arrow-thin-left"></i></a>
                                        </li>
                                    }
                                    <li class="active"><a href="/shop.html?page=@Pagecurrent">@Pagecurrent</a></li>

                                    <li>
                                        <a href="/shop.html?page=@PageNext">@PageNext</a>
                                    </li>
                                    <li class="next">
                                        <a href="/shop.html?page=@PageNext" title="Tiếp Theo"><i class="ion-ios-arrow-thin-right"></i></a>
                                    </li>



                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <!-- Bottom Toolbar End -->
            </div>
            <div class="col-lg-3 col-12 col-custom">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget widget-mt">
                    <div class="widget_inner">
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Tìm Kiếm</h3>
                            <div class="search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Tìm Kiếm Trong Cừa Hàng" aria-label="Tìm Kiếm Trong Cừa Hàng">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Thanh Danh Mục</h3>
                            <!-- Widget Menu Start -->
                            <nav>
                                <ul class="mobile-menu p-0 m-0">
                                    <li class="menu-item-has-children">
                                        <a href="#">Gundam</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Astray (2)</a></li>
                                            <li><a href="#">30MS (4)</a></li>
                                            <li><a href="#">RX-87 (3)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Scale_figure</a>
                                        <ul class="dropdown">
                                            <li><a href="#">1/1 (2)</a></li>
                                            <li><a href="#">1/6 (4)</a></li>
                                            <li><a href="#">1/7 (3)</a></li>
                                            <li><a href="#">1/8 (3)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Nendoroid & Chibi Figure</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Anime (108)</a></li>
                                            <li><a href="#">Vtuber (54)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Figma</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Scale Action (12)</a></li>
                                            <li><a href="#">Chibi Action (24)</a></li>
                                            <li><a href="#">Others (43)</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Widget Menu End -->
                        </div>
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Categories</h3>
                            <div class="sidebar-body">
                                <ul class="sidebar-list">
                                    <li><a href="#">Tất Cả Sản Phẩm</a></li>
                                    <li><a href="#">Mua Nhiều Nhất (5)</a></li>
                                    <li><a href="#">Đặc Sắc (4)</a></li>
                                    <li><a href="#">Sản Phẩm Mới (6)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget-list widget-mb-2">
                            <h3 class="widget-title">Color</h3>
                            <div class="sidebar-body">
                                <div class="sidebar-list">
                                    <button type="button" class="btn red"></button>
                                    <button type="button" class="btn green"></button>
                                    <button type="button" class="btn blue"></button>
                                    <button type="button" class="btn yellow"></button>
                                    <button type="button" class="btn white"></button>
                                    <button type="button" class="btn gold"></button>
                                    <button type="button" class="btn gray"></button>
                                    <button type="button" class="btn magenta"></button>
                                    <button type="button" class="btn maroon"></button>
                                    <button type="button" class="btn navy"></button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-list widget-mb-3">
                            <h3 class="widget-title">Tags</h3>
                            <div class="sidebar-body">
                                <ul class="tags">
                                    <li><a href="#">Gundam</a></li>
                                    <li><a href="#">Scale Figure</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Tayer</a></li>
                                    <li><a href="#">Nendoroid</a></li>
                                    <li><a href="#">ArtBook</a></li>
                                    <li><a href="#">Hộp Đựng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget-list widget-mb-4">
                            <h3 class="widget-title">Recent Products</h3>
                            <div class="sidebar-body">
                                <div class="sidebar-product align-items-center">
                                    <a href="product-details.html" class="image">
                                        <img src="~/assets/images/product/9.jpg" alt="Sản Phẩm">
                                    </a>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="product-details.html">Bocchi The Rock</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">1500000 VND</span>
                                            <span class="old-price"><del>2000000 VND</del></span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-product align-items-center">
                                    <a href="product-details.html" class="image">
                                        <img src="~/assets/images/product/6.jpg" alt="Sản Phẩm">
                                    </a>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="product-details.html">Tokyo Revengers Manjiro Sano</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">7000000 VND</span>
                                            <span class="old-price"><del>9000000 VND</del></span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-product align-items-center">
                                    <a href="product-details.html" class="image">
                                        <img src="~/assets/images/product/7.jpg" alt="Sản Phẩm">
                                    </a>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="product-details.html">Arknights Hoshiguma</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">13500000 VND</span>
                                            <span class="old-price"><del>15000000 VND</del></span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>
<!-- Shop Main Area End Here -->
<!-- Support Area Start Here -->
<div class="support-area">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <div class="support-wrapper d-flex">
                    <div class="support-content">
                        <h1 class="title">Cần trợ giúp ?</h1>
                        <p class="desc-content">Số điện thoại hỗ trợ 24/7 01234-567-890</p>
                    </div>
                    <div class="support-button d-flex align-items-center">
                        <a class="obrien-button primary-btn" asp-controller="Home" asp-action="Contact">Liên hệ với chúng tôi ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Area End Here -->
