@model BanHoaQuaOnline.ModelsView.HomeViewVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TbProduct> allProduct = ViewBag.AllProducts;
}


<!-- Begin Slider Area One -->
<div class="slider-area">
    <div class="obrien-slider arrow-style" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true,
        "autoplay" : true,
        "fade" : true,
        "autoplaySpeed" : 7000,
        "pauseOnHover" : false,
        "pauseOnFocus" : false
        }' data-slickslick-responsive='[
        {"breakpoint":992, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "dots": true
        }}
        ]'>
        <div class="slide-item slide-1 bg-position slide-bg-1 animation-style-01">
            <div class="slider-content">
                <div class="slider-btn">
                    <h2 class="slider-large-title">Mô Hình Nhật Bản</h2>
                    <h3 class="slider-large-title">Chính Hãng </h3>
                    <h4 class="slider-small-title">Chất Lượng Đến Từng Sản Phẩm</h4>
                    <a class="obrien-button black-btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="slide-item slide-2 bg-position slide-bg-1 animation-style-01">
            <div class="slider-content">
                <div class="slider-btn">
                    <h2 class="slider-large-title">Tỉ Mỉ Trong</h2>
                    <h3 class="slider-large-title">Từng Chi Tiết </h3>
                    <h4 class="slider-small-title">Sắc Sảo Từ Tạo Hình Đến Màu Sắc,</h4>
                    <h4 class="slider-small-title">Tạo Nên Một Bản Sao Có Hồn Như Bản Gốc</h4>
                    <a class="obrien-button black-btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="slide-item slide-3 bg-position slide-bg-1 animation-style-01">
            <div class="slider-content">
                <h4 class="slider-large-title" style="color:#ffff">Scale Figure</h4>
                <h2 class="slider-small-title" style="color:#ffff">Thu Nhỏ Theo Tỉ Lệ Chuẩn,</h2>
                <h2 class="slider-small-title" style="color:#ffff">Với Độ Chi Tiết Vượt Trội Trong Tất Cả</h2>
                <div class="slider-btn">
                    <a class="obrien-button black-btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="slide-item slide-4 bg-position slide-bg-1 animation-style-01">
            <div class="slider-content">
                <h2 class="slider-large-title">Mô Hình Gundam</h2>
                <h1 class="slider-small-title">Gundam: Thiết kế độc đáo, chi tiết phức tạp.</h1>
                <div class="slider-btn">
                    <a class="obrien-button black-btn" href="shop.html">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area One End Here -->
<!-- Call To Action Area Start Here -->
<div class="call-to-action-area">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-custom">
                <div class="call-to-action-item mt-0 d-lg-flex d-md-block align-items-center">
                    <div class="call-to-action-icon">
                        <img src="~/assets/images/icons/icon-1.png" alt="Icon">
                    </div>
                    <div class="call-to-action-info">
                        <h3 class="action-title">Miễn Phí Vận Chuyển</h3>
                        <p class="desc-content">Miễn Phí Vận Chuyển Cho Đơn Hàng Trên 2 Triệu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-custom">
                <div class="call-to-action-item d-lg-flex d-md-block align-items-center">
                    <div class="call-to-action-icon">
                        <img src="~/assets/images/icons/icon-2.png" alt="Icon">
                    </div>
                    <div class="call-to-action-info">
                        <h3 class="action-title">Chất Lượng Sản Phẩm</h3>
                        <p class="desc-content">Chúng tôi đảm bảo chất lượng sản phẩm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-custom">
                <div class="call-to-action-item d-lg-flex d-md-block align-items-center">
                    <div class="call-to-action-icon">
                        <img src="~/assets/images/icons/icon-3.png" alt="Icon">
                    </div>
                    <div class="call-to-action-info">
                        <h3 class="action-title">Hỗ Trợ Trực Tuyến</h3>
                        <p class="desc-content">Để Hài Lòng Khách Hàng Chúng Tôi Sẽ Hộ Trợ Bạn Trực Tuyến</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action Area End Here -->
<!-- Banner Area Start Here -->
<div class="banner-area">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-custom">
                <div class="banner-image hover-style">
                    <a class="d-block" href="shop.html">
                        <img class="w-100" src="~/assets/images/banner/small-banner/1-1-1.png" alt="Banner Image">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-custom">
                <div class="banner-image hover-style">
                    <a class="d-block" href="shop.html">
                        <img class="w-100" src="~/assets/images/banner/small-banner/1-1-2.png" alt="Banner Image">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-custom">
                <div class="banner-image hover-style mb-0">
                    <a class="d-block" href="shop.html">
                        <img class="w-100" src="~/assets/images/banner/small-banner/1-1-3.png" alt="Banner Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner Area End Here -->

<!-- Product Area Start Here -->

<!-- Product Area End Here -->
<!-- Newslatter Area Start Here -->
<div class="newsletter-area mt-no-text mb-text-p">
    <div class="container container-default h-100 custom-area">
        <div class="row h-100">
            <div class="col-lg-8 col-xl-5 offset-xl-6 offset-lg-3 col-custom">
                <div class="newsletter-content text-center d-flex flex-column align-items-center justify-content-center h-100">
                    <div class="section-content">
                        <h4 class="title-4 text-uppercase">Ưu Đãi <span>Đặc Biệt</span> Cho Người Đăng Ký</h4>
                        <h2 class="title-3 text-uppercase">Nhận Ngay Giảm Giá Cho Thành Viên</h2>
                        <p class="desc-content">Đăng ký thành viên của chúng tôi và nhận tất cả các tin tức mới nhất về sản phẩm, khuyến mãi và ưu đãi mới nhất của chúng tôi</p>
                    </div>
                    <div class="newsletter-form-wrap ml-auto mr-auto">
                        <form id="mc-form" class="mc-form d-flex position-relative">
                            <input type="email" id="mc-email" class="form-control email-box" placeholder="email@example.com" name="EMAIL">
                            <button id="mc-submit" class="btn primary-btn obrien-button newsletter-btn position-absolute" type="submit">Đăng ký</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newslatter Area End Here -->
<!-- Product Area Start Here -->
<div class="product-area mb-text">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-lg-5 m-auto text-center col-custom">
                <div class="section-content">
                    <h2 class="title-1 text-uppercase">Sản Phẩm Nổi Bật</h2>
                    <div class="desc-content">
                        <p>Các sản phẩm bán chạy nhất hiện có sẵn và bạn có thể mua chúng từ đây bất cứ lúc nào, ở bất kỳ đâu. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-wrapper col-lg-12 col-custom">
                <div class="product-slider" data-slick-options='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "arrows": false,
                    "dots": false
                    }' data-slick-responsive='[
                    {"breakpoint": 1200, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint": 992, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint": 576, "settings": {
                    "slidesToShow": 1
                    }}
                    ]'>
                   
                    @await Html.PartialAsync("ViewProduct",allProduct )

                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Feature Area Start Here -->
<div class="feature-area mb-no-text">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-12 col-custom">
                <div class="feature-content-wrapper">
                    <h2 class="title">JK FIGURE - MORE THAN JUST TOYS</h2>
                    <p class="desc-content">Figure không chỉ đơn thuần là một đồ trang trí, mà còn là biểu tượng của sự tưởng tượng và sự tận hưởng văn hóa Pop. Chúng được yêu thích bởi cộng đồng sưu tập với sự đa dạng về chủ đề, từ các nhân vật anime phổ biến cho đến các tác phẩm nghệ thuật độc đáo và hiếm hoi.</p>
                    <p class="desc-content">Với sự phát triển của công nghệ sản xuất, figure ngày nay có thể tái hiện chân thực các đặc điểm và biểu cảm của nhân vật gốc. Những chi tiết nhỏ như ánh mắt, cử chỉ và trang phục được tạo ra với mức độ chính xác cao, mang lại một sự sống động và sự kết nối đặc biệt với người xem.</p>   
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-12 col-custom">
                <div class="feature-image position-relative">
                    <img src="~/assets/images/feature/feature-2.jpg" alt="Figure Explain">
                    <div class="popup-video position-absolute">
                        <a class="popup-vimeo" href="https://www.youtube.com/watch?v=ATz6F5Etsqk">
                            <i class="ion-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End Here -->
<!-- Banner Fullwidth Area Start Here -->
<div class="banner-fullwidth-area mb-text">
    <div class="container custom-area">
        <div class="row">
            <div class="col-md-5 col-lg-6 text-center col-custom">
                <div class="banner-thumb h-100 d-flex justify-content-center align-items-center">
                    <img src="~/assets/images/banner/thumb/1.png" alt="Banner Thumb">
                </div>
            </div>
            <div class="col-md-7 col-lg-6 text-center justify-content-center col-custom">
                <div class="banner-flash-content d-flex flex-column align-items-center justify-content-center h-100">
                    <h2 class="deal-head text-uppercase">Ưu Đãi Nhanh Chóng</h2>
                    <h3 class="deal-title text-uppercase">Nhanh Tay Và Nhận Ngay Giảm Giá 25%</h3>
                    <a href="shop.html" class="obrien-button primary-btn">Mua Ngay</a>
                    <div class="countdown-wrapper d-flex justify-content-center" data-countdown="2023/11/10"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Fullwidth Area End Here -->

<!-- Latest Blog Area Start Here -->
@if (Model.news != null && Model.news.Count() > 0)
{
    <div class="latest-blog-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-5 m-auto text-center col-custom">
                    <div class="section-content">
                        <h2 class="title-1 text-uppercase">Blog Mới Nhất</h2>
                        <div class="desc-content">
                            <p>Nếu Bạn Muốn Biết Nhiều Hơn Về Figure Hãy Để Ý Tới Blog Của Chúng Tôi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-custom">
                    <div class="obrien-slider" data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": false,
                        "dots": false
                        }' data-slick-responsive='[
                        {"breakpoint": 1200, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint": 992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint": 768, "settings": {
                        "slidesToShow": 1
                        }},
                        {"breakpoint": 576, "settings": {
                        "slidesToShow": 1
                        }}
                        ]'>


                        @foreach (var item in Model.news)
                        {
                            string url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                            <div class="col-lg-4 col-md-6 col-custom mb-4">
                                <div class="single-blog">
                                    <div class="single-blog-thumb">
                                        <a href="@url">

                                            <img src="~/images/news/@item.Thumb" alt="@item.Title" />
                                        </a>
                                    </div>
                                    <div class="single-blog-content position-relative">
                                        <div class="post-date text-center border d-flex flex-column position-absolute" style="width:85px;">
                                            <div>@item.CreatedDate.Value.ToShortDateString()</div>
                                        </div>
                                        <div class="post-meta" style="margin-left:20px;">
                                            <span class="author">Tác giả: @item.Author</span>
                                        </div>
                                        <h2 class="post-title" style="margin-left:20px;">
                                            <a href="@url">@item.Title</a>
                                        </h2>
                                        <div style="margin-left:20px;">
                                            <p class="desc-content">@Html.Raw(item.Scontents)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Latest Blog Area End Here -->
<!-- Brand Logo Area Start Here -->
<div class="brand-logo-area mt-text mb-no-text">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <div class="obrien-slider" data-slick-options='{
                        "slidesToShow": 5,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": false,
                        "dots": false
                        }' data-slick-responsive='[
                        {"breakpoint": 1200, "settings": {
                        "slidesToShow": 4
                        }},
                        {"breakpoint": 992, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint": 576, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint": 481, "settings": {
                        "slidesToShow": 2
                        }}
                        ]'>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-1.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-2.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-3.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-4.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-5.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#">
                            <img src="~/assets/images/brand-logo/brand-3.png" alt="Brand Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Logo Area End Here -->
<!-- Support Area Start Here -->
<div class="support-area">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <div class="support-wrapper d-flex">
                    <div class="support-content">
                        <h1 class="title">Cần trợ giúp ?</h1>
                        <p class="desc-content">Số điện thoại hỗ trợ 24/7 01234-567-890</p>
                    </div>
                    <div class="support-button d-flex align-items-center">
                        <a class="obrien-button primary-btn" asp-controller="Home" asp-action="Contact">Liên hệ với chúng tôi ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Area End Here -->
